@import url('https://fonts.googleapis.com/css?family=Bahianita&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html
{
    background:#ffffff;
    font-family: sans-serif;
    font-size:62.5%;
    min-height: 100%;
}
label
{
    padding:0 5px;
}
input[type=text], select
{
    border:solid rgb(175,151,110) 1px;
    font-size:1.6rem;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    width:20%;
    padding:5px;
    font-family: sans-serif;
}
h1
{
    font-family:'Bahianita', cursive;
    margin:0;
    font-size:3.5rem;
}
select, button
{
    width:15%;
    cursor:pointer;
}
button
{
    border:solid rgb(175,151,110) 1px;
    font-size:1.6rem;
    background: #77d020;
    color:#fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
    padding:5px;
    transition: background .5s;
    font-family: sans-serif;
}
button:hover
{
    background: #56ad1b;
}
/*LAYOUT*/
.wrapper
{
    font-size:2.4rem;
    display:block;
    max-width:1000px;
    margin:0 auto;
    margin-top:20px;
    border-radius:8px;
    overflow:hidden;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .75);
    -moz-box-shadow:    0px 0px 15px 0px rgba(0, 0, 0, .75);
    box-shadow:         0px 0px 15px 0px rgba(0, 0, 0, .75);
}
.controlPanel
{
    font-family:'Bahianita', cursive;
    text-align:center;
    background-color:rgba(175,151,110,.5);
    padding:8px;
}
.informationPanel
{
    border-top:1px solid rgba(175,151,110,1);
}
.cardList,.cardPopUp
{
    display:none;
    margin:10px;
    border:1px solid rgba(175,151,110,.75);;
}
.cardLi
{
    display:block;
    font-size:1.5rem;
    font-family: sans-serif;
    width:100%;
}
.cardRow
{
    display:block;
    padding:5px;
    cursor:pointer;
    transition: background .5s, color .75s;
}
.cardRow:hover
{
    color:#fff;
    background-color:rgba(208,32,119,.5);
}
.rowDark
{
    background-color:rgba(175,151,110,.25);
}

/*POPUP*/
.cardPopUp
{
    font-family:sans-serif;
    padding:10px;
    position:relative;
}
.closePopup
{
    position: absolute;
    bottom:8px;
    right:10px;
    cursor:pointer;
    font-size:1.5rem;
    font-style:italic;
}
.cardPopUpCollumn
{
    display:inline-block;
}
.cardImage
{
    padding-right: 2rem;
    height:auto;
}
#cardColor,#cardRarity,#cardType,#cardTeks,#cardQuote,#cardSets
{
    display:block;
}
#cardType,#cardColor
{
    display:inline-block;
    font-size:1.75rem;
}
#cardRarity
{
    font-size:1.25rem;
    font-style:italic;
}
#cardTeks,#cardQuote
{
    margin-top:20px;
    font-size:1.75rem;
}
#cardQuote
{
    font-size:1.5rem;
    font-style:italic;
}
.colorIcon
{
    padding-top:5px;
    padding-left:3px;
    width:20px;
    height:20px;
}
.underBar
{
    text-align: center;
    background-color:rgba(175,151,110,.5);
    padding:5px;
    font-size:1.4rem;
}
#bottomLinksContainer
{
    display:none;
}
.bottomLinks
{
    color:rgb(75,51,10);
    padding-left:2px;
    padding-right:2px;
    cursor:pointer;
}
.noSel
{
    cursor:default;
}
.errorMessage
{
    text-align:center;
    margin:3rem auto;
    border:1px solid rgb(175,151,110);
    max-width:300px;
    padding:10px;
    font-size:1.75rem;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, .5);
    box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, .5);
    display: none;
    color:rgb(98,41,41);
}
/*HELPERS*/
.show
{
    display:block !important;
}
.flex
{
    display:flex;
}
/*MEDIA QUERIES*/
/*@media screen and (max-width: 500px)
{
    .charInfoBox
    {
        flex-direction:column;
    }
}*/